

<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">  
  <title>Augs</title>  
  <base href="/">  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="icon" type="image/x-icon" href="favicon.ico">  
</head>  
<body>  
<app-background></app-background> 

<!--Two Way Binding -->
UserName: <input [(ngModel)]="userName" (input)="isKeyUP($event)"  >
<br>
This is {{userName}}
<br>


<!--ng If -->
<br>
<br>
Password1: <input [(ngModel)]="password1" (input)="onPassword()">
<ng-template #validPassword><div>{{password1}} is valid</div></ng-template>
<ng-template #invalidPassword><div>{{password1}} is invalid</div></ng-template>
<div *ngIf="!pwdFlag then invalidPassword else validPassword"></div>

<!-- ng If another way-->
<ng-template [ngIf]="!pwdFlag"><div>{{password1}} is invalid</div></ng-template>
<ng-template [ngIf]="pwdFlag"><div>{{password1}} is valid</div></ng-template>

<br>
Password2: <input [(ngModel)]="password2" (input)="onChangePwd()"><br>
<p [ngStyle]="{backgroundColor: getColor()}">
  <ng-container *ngIf="pwdString===0">Password should not be empty</ng-container>
</p>
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: pwdString===1}">
  <ng-container *ngIf="pwdString===1">{{password2}} is invalid</ng-container>
</p>
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="pwdString">
  <ng-container *ngIf="pwdString===2">{{password2}} is valid</ng-container>
</p>

<br>
<br>
Gender: 
<!--
<input type="radio" ng-model="gender.name" value="Male">
<br>
<input type="radio" ng-model="gender.name" value="Female">
<br>
<input type="radio" ng-model="gender.name" ng-value="Don't want to disclose">
<br>
Selected {{gender.name}}
-->

<br><br>
Skills: 
<input [(ngModel)]="skill" (change)="onAddSkill()">
<div *ngFor = "let abc of skillArr; index as i">{{i+1}}.{{abc}}</div>

<br>
<br>
<button [disabled]="resetFlag" (click)="onClick($event)">Reset</button>
</body>  
</html>  